@(jobs: List[Job])

@main("Jobs") {
	<div class="panel panel-default">
	  <div class="panel-heading">All jobs</div>
	
	  <table class="table">
		<tr>
		  <th>Id</th>
		  <th>Title</th>
		  <th>Description</th>
		</tr>
  		@for(job <- jobs) {
  			<tr>
  				<td>@job.getId()</td>
  				<td><a href="/jobs/@job.getId()">@job.getTitle()</a></td>
  				<td>@job.getShortDescription(10)</td>
  			</tr>
		} 
	  </table>
	</div>
}

