@(job: Job)

@main("Insert Job") {

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Create a new job</h3>
	  </div>
	  <div class="panel-body">
		@helper.form(action = routes.Jobs.save) {
			@helper.inputText(Jobs.jobForm("Title"))
			@helper.inputText(Jobs.jobForm("Description"))
			<button type="submit">Ok</button>
		}
	  </div>
	</div>
}

