@(job: Job)

@main("Job details") {

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Job details: @job.getTitle()</h3>
	  </div>
	  <div class="panel-body">
	    <div class="list-group">
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">Title: @job.getTitle()</h4>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">Id: @job.getId()</h4>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">Description</h4>
		    <p class="list-group-item-text">@job.getDescription()</p>
		  </a>
		</div>
	  </div>
	</div>
}

