@(form: Form[Application.Login])

@main("Login") {
	
	@helper.form(routes.Application.authenticate) {
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Sign in</h3>
		  </div>
		  <div class="panel-body">
		  
	  		@if(form.hasGlobalErrors) {
	  			<div class="alert alert-danger">@form.globalError.message</div>
			}
			
	       <input type="email" name="email" placeholder="Email" value="@form("email").value">
	       <input type="password" name="password" placeholder="Password">
	       <button type="submit">Login</button>
		  </div>
		</div>
	}

}
